<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.davidmarhuenda.mywonderfulmoneycontrol_v2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWonderfulMoneyControl_v2">
        <activity
            android:name=".EditCategoriesActivity"
            android:exported="true"
            android:label="@string/edit_cat"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExpensesCategoryActivity"
            android:exported="true"
            android:label="@string/expense_ctg_text"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MovementsActivity"
            android:exported="true"
            android:label="@string/mov_text"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddingMovementsActivity"
            android:exported="true"
            android:label="@string/add_mov_text"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExpensesMonthYearActivity"
            android:exported="true"
            android:label="@string/expense_month_text"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>